Source: ccze
Section: utils
Priority: extra
Maintainer: Gergely Nagy <algernon@bonehunter.rulez.org>
Standards-Version: 3.5.8
Build-Depends: libpcre3-dev, libncurses5-dev

Package: ccze
Architecture: any
Depends: ${shlibs:Depends}
Replaces: colorize (<= 0.3.1-2)
Description: A roboust, modular log coloriser.
 CCZE is a roboust and modular log colorizer, with plugins for apm,
 exim, fetchmail, httpd, postfix, procmail, squid, syslog, ulogd,
 vsftpd, xferlog and more.
